/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Playfair Display", serif;
    color: white;
    line-height: 1.5;
    background: linear-gradient(135deg, black 0%, black 20%, #0b1a2b 60%, navy 100%);
    text-align: center;
    justify-content: center;
}

.en {
    font-size: 100px;
}

header {
    text-align: center;
    padding: 20px;
}


nav {
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    padding: 10px;
    z-index: 1000;
    border-bottom: 1px solid white;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: #38bdf8;
    text-decoration: underline;
}

.section {
    padding: 40px 20px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 10px;
    max-width: 774px;
    min-width: 774px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TEKNOLOGI */
.tech {
    background: linear-gradient(135deg, #6200EE 0%, #00E5FF 100%);
    text-align: center;
}

/* YFF */
.yff {
    background: linear-gradient(135deg, #FF5500 0%, #FF007F 100%);
    text-align: center;
}

/* MEDIA */
.media {
    background: linear-gradient(135deg, #7F00FF 0%, #FF007F 100%);
    text-align: center;
}

/* PROGRAMMERING */
.program {
    background: linear-gradient(135deg, #020617 0%, #0f172a 40%, #38bdf8 100%);
    text-align: center;
}

/* MEDIA ELEMENTS */
img,
video {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    border-radius: 8px;
}

footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid white;
}

/* RESPONSIVE */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 26px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }
}